// ==========================================================================
//
// Fonts
//
//

@font-face {
  font-family: 'social-icons';
  src:url('../fonts/social-icons.eot?72cw7l');
  src:url('../fonts/social-icons.eot?#iefix72cw7l') format('embedded-opentype'),
    url('../fonts/social-icons.woff?72cw7l') format('woff'),
    url('../fonts/social-icons.ttf?72cw7l') format('truetype'),
    url('../fonts/social-icons.svg?72cw7l#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

%social--icons {
  font-family: 'social-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
