= stylesheet_link_tag  "navbar"

%header#header.main-navbar
  %a.logo{:href => 'http://www.redbullmusicacademy.jp/jp/magazine'}
    .logo-text &larr;&nbsp; Back
    .logo-icon
    .logo-text Red Bull Music Academy

  %nav#desktop_nav.nav-desktop
    %ul.nav-main
      %li.main-item
        %a{:href => 'http://www.redbullmusicacademy.jp/jp/events'} Events
      %li.main-item
        %a{:href => 'http://www.redbullmusicacademy.jp/jp/magazine'} Magazine
      %li.main-item
        %a{:href => 'http://www.redbullmusicacademy.jp/jp/lectures'} Lectures
      %li.main-item
        %a{:href => 'http://www.redbullmusicacademy.jp/jp/radio'} Radio
      %li.main-item
        %a{:href => 'http://www.redbullmusicacademy.jp/jp/about-the-academy'} About
      %li.main-item
        %a.js-external-link{:href => 'http://www.redbullmusicacademy.com/home/', :target => '_blank'} English